.header{
    background: rgb(70, 70, 70);
  }
  
  .title{
    color: aliceblue;
    text-decoration: none;
  }
  
  .login,.register{
    float: right;
    text-decoration: none;
    color: aliceblue;
  }
  
  .logout,.new-post{
    float: right;
    color: aliceblue;
    padding-top: 10px;
  }
  
  .logout:hover, .new-post:hover{
    color: aliceblue;
    text-decoration: none;
  }